main {
    display: flex;
    flex-direction: column;
}

.board-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.board-header h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 2.5rem;
}

.searchfield {
    padding: 10px 10px 8px 10px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background-image: url(../assets/img/icon-magnifying-glass.svg);
    background-repeat: no-repeat;
    background-position: right 10px top 7px;
    font-size: 1rem;
}

.searchfield::placeholder {
    font-size: 1rem;
}

.board-body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 12px;
    justify-content: space-evenly;
    overflow-y: auto;
    margin-top: 50px;
}

.boardlist {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 280px;
}

.boardlist-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boardlist-header h4 {
    margin-block-start: 10px;
    margin-block-end: 10px;
    font-size: 21px;
    color: #2A3647;
}


.boardlist-header button {
    height: 35px;
    width: 25px;
}

.boardlist-header button img {
    height: 20px;
    width: 20px;
}

.boardlist-body {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 25px;
    min-height: 100px;
}



.boardlist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 280px;
    cursor: pointer;
}

.boardlist-card h3 {
    font-size: 1.3rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 5px 10px;
}

.boardlist-card p {
    font-size: 1rem;
    padding: 5px 10px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.card-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-epic {
    background-color: coral;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
    width: fit-content;
}

.responsible-wrapper {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.responsible-wrapper .responsibles {
    display: flex;
    gap: 3px;
}

.responsible-wrapper .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    font-size: 0.8rem;
    border-radius: 50%;
}

.responsible-wrapper .avatar-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    font-size: 0.8rem;
    color: white;
}

.responsible-wrapper img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

/* NOTE Edit Task Overlay */

.desktop-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.fade-to-gray-overlay {
    animation: fade-to-gray 1000ms linear;
}

@keyframes fade-to-gray {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.fade-out-gray-overlay {
    animation: fade-out-gray 250ms linear;
}

@keyframes fade-out-gray {
    from {
        background-color: rgba(0, 0, 0, 0.5);
    }

    to {
        background-color: rgba(0, 0, 0, 0);
    }
}




.desktop-overlay-container {
    display: flex;
    /* Das ist aufgrund dem globalem @media bei 910px */
    min-width: 850px;
    width: 70%;
    max-width: 1024px;
}


/* Border radius 20px bei den innenliegenden Containern benutzen */

.desktop-slide-in {
    animation: slide-in 250ms ease-in-out;
}

@keyframes slide-in {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

.desktop-slide-out {
    animation: slide-out 250ms ease-in-out;
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}


.contact-overlay-left-S {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #2A3647;
    color: white;
    padding: 35px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.contact-overlay-left-S img {
    width: 100px;
    object-fit: contain;
}

.contact-overlay-left-S h2 {
    margin-block-end: 0;
}

.contact-overlay-left-S .blue-line {
    background-color: #29abe2;
    width: 46px;
    height: 3px;
}



.contact-overlay-right-S {
    background-color: white;
    width: 80%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 50px 25px;
}

.contact-overlay-right-header {
    text-align: right;
}

.contact-overlay-right-main {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    position: relative;
}

.contact-overlay-right-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 32px;
    box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 10%);
    height: 100px;
    width: 100px;
    object-fit: contain;
    font-size: 48px;
    margin-top: 121px;
    color: white;
}

.contact-overlay-right-input {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding-top: 25px;
}

.contact-overlay-right-input input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}





.contact-overlay-right-footer {
    display: flex;
    justify-content: center;
}

.contact-overlay-button {
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    font-weight: 700;
    padding: 10px 18px;
    width: 150px;
    cursor: pointer;
}

.contact-overlay-right-S form {
    display: flex;
    width: 100%;
}




.drag-area {
    background-color: blue;
    min-height: 500px;
}





.dragbox {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    background-color: #2A3647;
}

.d-none {
    display: none
}

@media screen and (max-width: 910px) {

    .boardlist {
        flex-direction: column;
        max-width: unset;
    }
}