.main-content-J {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 1240px;
  /* background: #F5F5F5; */
}

input {
  border-radius: 12px;
  height: 40px;
}

.task-mask-J {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 0px; */
  padding-left: 90px;

  /* gap: 14px; */
  background: #F5F5F5;
  position: absolute;
  width: 722px;
  height: 640px;
  left: 230px;
  top: 95px;
}



.left-taskfield-J {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  flex-wrap: wrap;
  width: 50%;
  align-content: center;
  justify-content: flex-start;
  gap: 25px;
}

.left-taskfield-J input,
.left-taskfield-J textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #D1D1D1;

}

.right-taskfield-J {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px 30px;
  flex-wrap: wrap;
  width: 50%;
  align-content: center;
  gap: 25px;
  padding-top: 125px;

}

.right-taskfield-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #D1D1D1;

}

.button-urgent-J {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 10px;

}

.button-urgent-J button {
  width: 30%;
  height: 40px;
  cursor: pointer;
}

.button-urgent-J button img {
  margin-left: 8px;
}

.urgent-J:hover {
  background-color: rgb(163, 0, 0);
}

.medium-J:hover {
  background-color: rgb(249, 191, 82);
}

.low-J:hover {
  background-color: rgb(6, 202, 6);
}

.add-substack-J {
  background-image: url(assets/img/icon-add-plus-dark.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.button-container-J {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;

}

.button-container-J img {
  margin-left: 8px;
  height: 10px;
}

.button-container-J button {
  border-radius: 10px;
  width: 120px;
  height: 50px;
  cursor: pointer;
}

.clear {
  background-color: white;
}

.clear:hover {
  color: rgb(10, 152, 200);
  border-color: rgb(10, 152, 200);
}

.clear:hover img {
  /* opacity: rgb(10, 152, 200); */
}

.create {
  background-color: #2A3647;
  color: white;
}

.create:hover {
  background-color: #29ABE2
}



.input-substack-J {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 36px;
}

.ckeckbox-button-J {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 150px; */
  margin-bottom: 50px;
}

.mobile {
  display: none;
}

/* MOBIL */

@media screen and (max-width: 911px) {

  .mobil-main-J {
    display: none;
  }

  .mobil-tasks-main-J {
    display: none;
  }

}

@media screen and (max-width: 1050px) {

  .mobile {
    display: block;
  }

  .left-taskfield-J {
    display: none;
  }

  .right-taskfield-J {
    display: none;
  }

  .mobil-main-J {
    display: block;
    padding: 20px;
    width: 100%;
    padding: 50px;
  }

  .button-container-mobil {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    height: 41px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .button-container-mobil button {
    width: 140px;
    height: 40px;
    border-radius: 10px;

  }

  .button-container-mobil image {
    padding-left: 10px;
  }

  .mobil-main-J h1 {
    width: 214px;
    height: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
    margin-left: 290px;
  }

  .mobil-tasks-main-J {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .button-urgent-J {
    display: flex;

  }



}

@media screen and (max-width: 820px) {

  .mobil-main-J h1 {
    margin-left: 220px;
  }

  .mobil-tasks-main-J {}
}

@media screen and (max-width: 699px) {

  .mobil-main-J h1 {
    margin-left: 180px;
  }

  .mobil-tasks-main-J {}
}

@media screen and (max-width: 629px) {

  .mobil-main-J h1 {
    margin-left: 130px;
  }

  .mobil-tasks-main-J {}
}

@media screen and (max-width: 579px) {

  .mobil-main-J h1 {
    margin-left: 100px;
  }

  .mobil-tasks-main-J {}
}

@media screen and (max-width: 539px) {

  .mobil-main-J h1 {
    margin-left: 30px;
  }

  .mobil-tasks-main-J {}
}

@media screen and (max-width: 405px) {

  .mobil-main-J h1 {
    margin-left: 15px;
  }

  .mobil-tasks-main-J {}
}

@media screen and (max-width: 375px) {

  .mobil-main-J h1 {
    margin-left: 5px;
  }

  .mobil-tasks-main-J {}
}