main {
    display: flex;
    flex-direction: column;
}

.headline-board-D {
    width: 176px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    margin-left: 35px;

}

.board-head-D {

    left: 267px;
    top: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assigned-contact {
    padding-top: 30px;
}

.priority-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 0.25em 0.5em;
    font-weight: bold;
}

.avatar-bg-color {
    border-radius: 100%;
    color: white;
    height: 45px;
    width: 45px;
    left: 0px;
    top: 0px;
    border-radius: 58px;
    padding: 10px 8px 10px 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.button-container-J {
    display: flex;
    gap: 12px;
    padding-top: 50px;
}

.button-urgent-J {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.board-list-left {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.right-taskfield-input {
    border: none;
}

.urgent-J {
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all 125ms ease-in-out;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px;
    font-family: "Inter";
}

.low-J {
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all 125ms ease-in-out;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px;
    font-family: "Inter";
}

.medium-J {
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all 125ms ease-in-out;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px;
    font-family: "Inter";
}

.urgent-J .avatar-bg-color-task {
    border-radius: 100%;
    color: white;
    left: 0px;
    top: 0px;
    border-radius: 58px;
    padding: 10px 8px 10px 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

}

.avatar-bg-color-task {
    border-radius: 100%;
    color: white;
    height: 30px;
    align-items: item;
    align-items: center;
    display: flex;
    width: 30px;
    justify-content: center;
}

.add-task-D {
    color: white;
    background-color: #2A3647;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    padding: 18px 10px;
    gap: 10px;
    width: 137px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.add-task-mobile-D {
    color: white;
    background-color: #2A3647;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    display: none;
}

.boardlist-body {
    background-color: #f6f7f8;
    display: flex;
    flex-wrap: coluumn;
    flex-direction: column;
    gap: 50px;
}

.add-task-mobile-D:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.add-task-mobile-D {
    height: 15px;
}

.add-task-D img {
    height: 15px;
}

.add-task-D:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.find-task-D {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background-image: url(assets/img/icon-magnifying-glass.svg);
    background-repeat: no-repeat;
    background-position: right 10px top 14px;
}

.find-add-container-D {
    display: flex;
    gap: 35px;
    margin-right: 37px;
}

.drag-area {
    background-color: blue;
    min-height: 500px;
}

.boardlist {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;

}

h4 {
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

h4:hover {
    cursor: pointer;
}

.small-plus-D {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #2A3647;
    border-radius: 10px;
    color: #2A3647;
}

.small-plus-D:hover {
    background-color: #29ABE2;
    cursor: pointer;

}

.work-task-container-D {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 12px;
    justify-content: space-evenly;
    overflow-y: auto;
}

.boardlist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 19px;
    gap: 10px;
    /* white */
    background: #FFFFFF;
    /* shadoe backlog box */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    width: 320px;
    cursor: pointer;
}

.work-task-headline-D {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;
}

.work-task-content-D {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.boardlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-user-D {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.work-task-user-D {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    background: #0190E0;
    /* white */
    border: 1px solid #FFFFFF;
    border-radius: 58px;
    color: #FFFFFF;
}

.urgency-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 10px;
}

.task-user-wrapper {
    display: flex;
    justify-content: space-between;
}

.work-category-D {
    padding: 4px 25px;
    width: 103px;
    height: 27px;
    background: #FF7A00;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 22px;
    justify-content: center;
    display: flex;
}

.pop-up-task-D {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 25px;
    isolation: isolate;
    position: absolute;
    width: 623px;
    height: 824px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: fixed;
    right: 50%;
    left: 40%;
    bottom: 0;
    /* top: 0; */

}

.button-darkblue {
    background-color: var(--darkblue);
    border: 1px solid var(--darkblue);
    color: white;
    transition: all 125ms ease-in-out;
}

.button-darkblue:hover {
    background-color: var(--lightblue);
    border: 1px solid var(--lightblue);
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.button-white {
    background-color: white;
    border: 1px solid white;
    outline: 1px solid var(--darkblue);
    color: var(--darkblue);
    transition: all 125ms ease-in-out;
}

.button-white:hover {
    border: 1px solid var(--lightblue);
    outline: 1px solid var(--lightblue);
    color: var(--lightblue);
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.pop-up-2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 25px;
    isolation: isolate;
    position: absolute;
    width: 623px;
    height: 824px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: fixed;
    right: 50%;
    left: 40%;
    bottom: 0;
}

.pop-up-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.pop-up-2-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.input-title-J {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.assigned-to-add {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;

}

.right-taskfield-input-date {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;

}

.assigned-change {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 100%;

}

.descript {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.category-add {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.pop-up-2-input-title {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.pop-up-2-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-up-2-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-up-2-prio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-up-2-assigned {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pop-up-change-button {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* padding: 0px; */
    /* gap: 6px; */
    position: absolute;
    /* width: 57px; */
    height: 57px;
    left: 525px;
    top: 737px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 10;
    flex-grow: 0;
    z-index: 10;
    /* background-color: transparent; */
}

.pop-up-change-button button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.change-task-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 25px;
    isolation: isolate;
    position: absolute;
    width: 623px;
    height: 824px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: fixed;
    right: 50%;
    left: 40%;
    bottom: 0;
    /* top: 0; */
}

.work-category-sales {
    padding: 4px 25px;
    width: 103px;
    height: 27px;
    background: #FC71FF;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 22px;
    justify-content: center;
    display: flex;
}

.first-name {
    width: 161px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
}

.left-taskfield-J {
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    /* max-width: 500px; */
    width: 800px;
    gap: 12px;
    padding: 30px;
}

.right-taskfield-J {
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    /* max-width: 500px; */
    width: 800px;
    gap: 12px;
    padding: 30px;
}



.left-taskfield-D2 {
    display: flex;
    /* flex-direction: column; */
    padding: 30px 60px;
    flex-wrap: wrap;
    /* width: 640px; */
    min-width: 320px;
    align-content: center;
    justify-content: flex-start;
    gap: 10px;
}

.right-taskfield-D2 {
    display: flex;
    align-items: flex-start;
    place-content: center flex-start;
    padding: 30px 60px;
    flex-wrap: wrap;
    width: 640px;
    gap: 15px;
    margin-top: 117px;
}

.left-taskfield-D {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    flex-wrap: wrap;
    width: 500px;
    min-width: 320px;
    align-content: center;
    justify-content: flex-start;
    gap: 10px;
}

.right-taskfield-D {
    display: flex;
    align-items: flex-start;
    place-content: center flex-start;
    /* padding: 30px 60px; */
    flex-wrap: wrap;
    /* width: 640px; */
    gap: 15px;
    /* margin-top: 117px; */
}

.button-container-D {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 25px;
    width: 100%;
    padding-top: 60px;
}

.work-category-backoffice {
    padding: 4px 25px;
    width: 103px;
    height: 27px;
    background: #1FD7C1;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 22px;
    justify-content: center;
    display: flex;
}

.work-category-marketing {
    padding: 4px 25px;
    width: 103px;
    height: 27px;
    background: #0038FF;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 22px;
    justify-content: center;
    display: flex;
}

.work-category-media {
    padding: 4px 25px;
    width: 103px;
    height: 27px;
    background: #FFC701;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 22px;
    justify-content: center;
    display: flex;
}


/* ////////     OVERLAY BOARD WORK TASK //////////// */

.board-task-overlay-D {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 25px;
    isolation: isolate;
    position: relative;
    width: 623px;
    height: 824px;
    background: #FFFFFF;
    /* nuevo */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.work-overlay-headline-D {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #2A3647;
}

.priority-overlay-D {
    display: flex;
    align-items: center;
    gap: 20px;
}

.priority-overlay-D img {
    padding: 4px 18px;
    width: 131px;
    background: #FF3D00;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.user-overlay-D {
    display: flex;
    flex-direction: column;
}

.close-work-overlay-D {
    position: absolute;
    left: 581.82px;
    top: 57.11px;
}

.close-work-overlay-D button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: larger;
}

.desktop-slide-in {
    animation: slide-in 250ms ease-in-out;
}

.fade-to-gray-overlay {
    animation: fade-to-gray 1000ms linear;
}

.slide-in-add-task {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    width: 800px;


}

.slide-in-add-task-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.delete-task-D {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.delete-task-D button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 910px) {
    .board-head-D {
        display: flex;
        justify-content: space-between;
        /* gap: inherit; */
        margin-left: 15px;
        flex-direction: column;
        align-items: center;

    }

    .button-mobile-container-D {
        display: flex;
        align-items: center;
        gap: 100px;
    }

    .work-task-container-D {
        flex-direction: column;
        overflow: initial;
        align-items: center;

    }

    .boardlist {
        flex-direction: column;
    }

    .boardlist-card {
        width: 320px;
    }

    .button-text-D {
        display: none;
    }

    .add-task-D {
        width: 40px;
        height: 40px;
        display: none;
    }

    .add-task-mobile-D {
        display: block;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .find-add-container-D {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }


    .headline-board-D {
        margin-left: 0;
    }


    /* .find-task-D {} */

    .mobile-searchbar-D {
        display: block;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 13px 21px;
        gap: 10px;
        width: 251px;
        height: 51px;
        background: #FFFFFF;
        border: 1px solid #A8A8A8;
        border-radius: 10px;
        background-image: url(assets/img/icon-magnifying-glass.svg);
        background-repeat: no-repeat;
        background-position: right 10px top 14px;
    }

    .mobile-search-container-D {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 110px;
    }


    .pop-up-task-D {
        display: flex;
        flex-direction: column;
        padding: 50px;
        gap: 25px;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .pop-up-change-button {
        background: #2A3647;
        border-radius: 10px;
        z-index: 10;
        /* background-color: transparent; */
    }

    .assigned-contact {
        display: flex;
        align-items: center;
    }

    .first-name {
        display: flex;
        width: 123px;

    }

}

.d-none {
    display: none
}