main {
    display: flex;
    flex-direction: column;
}

.headline-board-D {
    width: 176px;
    height: 73px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
    margin-left: 35px;

}

.board-head-D {

    left: 267px;
    top: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-task-D {
    color: white;
    background-color: #2A3647;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 137px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.add-task-mobile-D {
    color: white;
    background-color: #2A3647;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    display: none;
}

.add-task-mobile-D:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.add-task-mobile-D {
    height: 15px;
}

.add-task-D img {
    height: 15px;
}

.add-task-D:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.find-task-D {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background-image: url(assets/img/icon-magnifying-glass.svg);
    background-repeat: no-repeat;
    background-position: right 10px top 14px;
}

.find-add-container-D {
    display: flex;
    gap: 35px;
    margin-right: 37px;
}

.work-steps-D {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

h4 {
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

h4:hover {
    cursor: pointer;
}

.small-plus-D {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #2A3647;
    border-radius: 10px;
    color: #2A3647;
}

.small-plus-D:hover {
    background-color: #29ABE2;
    cursor: pointer;

}

.work-task-container-D {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 12px;
    justify-content: space-evenly;
    overflow-y: auto;
}

.work-task-D {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 19px;
    gap: 10px;

    /* white */
    background: #FFFFFF;
    /* shadoe backlog box */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.work-task-headline-D {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;
}

.work-task-content-D {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.work-task-category-D {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-user-D {
    display: flex;
    justify-content: flex-start;
}

.work-task-user-D {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    background: #0190E0;
    /* white */
    border: 1px solid #FFFFFF;
    border-radius: 58px;
    color: #FFFFFF;
}

.urgency-D {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 10px;
}

.work-category-D {
    padding: 4px 25px;
    width: 103px;
    height: 27px;
    background: #FF7A00;
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 22px;
}

/* ////////     OVERLAY BOARD WORK TASK //////////// */

.board-task-overlay-D {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 25px;
    isolation: isolate;
    position: relative;
    width: 623px;
    height: 824px;
    background: #FFFFFF;
    /* nuevo */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.work-overlay-headline-D {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #2A3647;
}

.priority-overlay-D {
    display: flex;
    align-items: center;
    gap: 20px;
}

.priority-overlay-D img {
    padding: 4px 18px;
    width: 131px;
    background: #FF3D00;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.user-overlay-D {
    display: flex;
    flex-direction: column;
}

.close-work-overlay-D {
    position: absolute;
    left: 581.82px;
    top: 57.11px;
}

.close-work-overlay-D button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: larger;
}

@media screen and (max-width: 910px) {
    .board-head-D {
        display: flex;
        justify-content: space-between;
        /* gap: inherit; */
        margin-left: 15px;
        flex-direction: column;
        align-items: center;

    }

    .button-mobile-container-D {
        display: flex;
        align-items: center;
        gap: 100px;
    }

    .work-task-container-D {
        flex-direction: column;
        overflow: initial;
        align-items: center;

    }

    .work-steps-D {
        flex-direction: column;
    }

    .work-task-D {
        width: 100%;
    }

    .button-text-D {
        display: none;
    }

    .add-task-D {
        width: 40px;
        height: 40px;
        display: none;
    }

    .add-task-mobile-D {
        display: block;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .find-add-container-D {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }


    .headline-board-D {
        margin-left: 0;
    }

    .find-task-D {}

    .mobile-searchbar-D {
        display: block;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 13px 21px;
        gap: 10px;
        width: 251px;
        height: 51px;
        background: #FFFFFF;
        border: 1px solid #A8A8A8;
        border-radius: 10px;
        background-image: url(assets/img/icon-magnifying-glass.svg);
        background-repeat: no-repeat;
        background-position: right 10px top 14px;
    }

    .mobile-search-container-D {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 110px;
    }
}