/* #################### Globale CSS variables ################### */
/* LEGAL Download der Schriftarten einbinden */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

main {
  background-color: #F5F5F5;
  height: calc(100vh - 89px);
  margin-top: 89px;
  margin-left: 232px;
}


* {
  box-sizing: border-box;
}

/* ########## Hintergrundfarben ############### */

.bg-darkblue {
  background-color: #2A3647;
}

.bg-lightgray {
  background-color: #F5F5F5;
}

.bg-white {
  background-color: hsl(0, 0%, 96%);
}



/* #################### Sascha ################### */

.navbar-desktop-S {
  /* Frame 3 */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 20px;
  gap: 103px;
  position: absolute;
  width: 232px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

}

.navbar-logo-S {
  display: flex;
  z-index: 5;
}

.navbar-logo-S img {
  width: 100px;
  height: 120px;
}

.navbar {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 39px;
  justify-content: space-between;
  height: 40vh;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding-left: 21px;
}

.navbar-link {
  display: flex;
  align-items: center;
}

.navbar-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.navbar-link img {
  width: 22px;
  height: 22px;
}

.header-S {
  /* Frame 41 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 36px 0px 348px;
  gap: 34px;
  position: absolute;
  height: 89px;
  left: 0px;
  top: 0px;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-right-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-item-logo {
  width: 31px;
  height: 31px;
  object-fit: cover;
}

.header-item-portrait {
  width: 49px;
  height: 49px;
  object-fit: cover;
  background-color: #2A3647;
  border-radius: 50%;
  padding: 6px;
  outline: 2px solid white;
  outline-offset: -6px;
}


/* ##################### Contacts ################################# */
.contacts-main-S {
  display: flex;
}

.contacts-list-S {
  background-color: white;
  width: 30%;
  min-width: 450px;
  height: calc(100vh - 89px);
  padding: 0 65px;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);

}

.contacts-list-alphabet-char-S {
  width: 323px;
  padding: 20px;
  border-bottom: 1px solid #D1D1D1;
}

.contacts-content-S {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-header-wrapper-S {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.contacts-header-wrapper-S h3 {
  border-right: 3px solid #29ABE2;
  font-size: 48px;
  font-weight: 700;
  padding: 0 25px 0 50px;
}

.contacts-header-wrapper-S span {
  padding: 25px;
  font-size: 27px;
}

.contacts-footer-wrapper-S {
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}

.contacts-list-contact-wrapper-S {
  display: flex;
  align-items: center;
  padding: 20px 6px;
}

.contact-data-wrapper-S {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact-avatar-S {
  background: #FF7A00;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
}

.contacts-footer-wrapper-S button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;

  color: white;
  background: #2A3647;
  border-radius: 10px;
}


/* #################### Paul ################### */

/* #################### Daniel ################### */

/* #################### Patrick ################### */