body {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 100px;
}



.login-logo {
    width: 70px;
    object-fit: contain;
    position: absolute;
    top: 50px;
    left: 50px;
}

.login-logo-animate {
    width: 70px;
    object-fit: contain;
    position: absolute;
    top: calc(50vh - 111px);
    left: calc(50vw - 155px);
    transform: scale(0.8);
    animation-name: slide-join-logo;
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
    animation-delay: 1000ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

/* NOTE Shorthand */
/* animation: slide-join-logo 500ms ease-in-out 100ms 1 normal forwards; */
/* LINK https://www.w3schools.com/css/css3_animations.asp */

@keyframes slide-join-logo {
    from {
        top: calc(50vh - 111px);
        left: calc(50vw - 155px);
        transform: scale(0.8);
    }

    to {
        top: 50px;
        left: 50px;
        transform: scale(1);
    }

}




.login-right {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
}

.main-login-J {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.main-login-J h1 {
    font-size: 60px;
    font-weight: 700;
    margin-block-end: 0;
}

.main-login-J .blue-line {
    height: 3px;
    width: 100px;
    border-radius: 10px;
    background-color: #29abe2;
    margin-top: 10px;
    margin-bottom: 50px;
}


.input-login-J {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 30px;
    width: 100%;
}


.input-login-J input {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}




.login-form-input-email {
    background: url(assets/img/icon-mail-user.svg) no-repeat;
    background-position: top 8px right 10px;
}

.login-form-input-password {
    background: url(assets/img/icon-lock-user.svg) no-repeat;
    background-position: top 8px right 10px;
}

.login-form-input-name {
    background: url(assets/img/icon-name-singup.svg) no-repeat;
    background-position: top 8px right 10px;
}


.login-form-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.login-form-settings-left {
    display: flex;
    gap: 5px;
}

.login-form-settings a {
    text-decoration: none;
    color: #29ABE2;
}

.login-form-submit-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.login-signup-button-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}