.body {
    margin: 0;
   
}

.header-login-J {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background-color: #F5F5F5;
    margin-left: 60px;
}

.signup-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    margin-right: 90px; 
    
}

.signup-button button {
    background-color: #2A3647;
    color: white;
    width: 91px;
    height: 51px;
    border-radius: 10px; 
}

.header-login-J img {
    width: 71px;
    height: 75px;
}

.maincontent-login-J {
     height: 100vh;
     background-color:#F5F5F5;
     display: flex;
     justify-content: center;
     align-items: center;  
}

.main-login-J {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 35%;
    height: 60%;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.main-login-J h1 {
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    border-bottom: 3px solid #29ABE2;
}

.input-login-J {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 30px;   
}

.input-login-J input {
    width: 322px;
    height: 35px;
    border-radius: 6px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}
/* // Hintergrund Bild Mail */
.email {
    background: url(assets/img/icon-mail-user.svg) no-repeat scroll 7px 7px;
    
    
}

.content-remeber-J {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 322px; 
}

.buttoncontainer-login-J {
    width: 322px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 18px;
}

.buttoncontainer-login-J button {
    width: 120px;
    height: 35px;
}

.button-login-J {
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    font-weight: 700;
}

.button-guest-J {
    background-color: white;
    border-radius: 8px;
    font-weight: 700;
}