.body {
    margin: 0;
   
}

.header-signup-J {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background-color: #F5F5F5;
    margin-left: 60px;
}

.header-signup-J img {
    width: 71px;
    height: 75px;
}

.maincontent-signup-J {
     height: 100vh;
     background-color:#F5F5F5;
     display: flex;
     justify-content: center;
     align-items: center;  
}

.main-signup-J {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 35%;
    height: 60%;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.main-signup-J h1 {
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    border-bottom: 3px solid #29ABE2;
}

.input-signup-J {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    margin-bottom: 10px;   
}

.input-signup-J input {
    width: 322px;
    height: 35px;
    border-radius: 6px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}
/* // Hintergrund Bild Mail */
.name-signup {
    background: url(assets/img/icon-name-singup.svg) no-repeat scroll 7px 7px;
    background-position: right;
}

.email {
    background: url(assets/img/icon-mail-user.svg) no-repeat scroll 7px 7px;
    background-position: right;
}

.password {
    background: url(assets/img/icon-lock-user.svg) no-repeat scroll 7px 7px;
    background-position: right;
}

.buttoncontainer-signup-J {
    width: 322px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 0px;
    padding-bottom: 10px;
}

.buttoncontainer-signup-J button {
    width: 120px;
    height: 35px;
}

.button-signup-J {
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    font-weight: 700;
}

