/* #################### Globale CSS variables ################### */

/* LEGAL Download der Schriftarten einbinden */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
}

main {
  background-color: #F5F5F5;
  height: calc(100vh - 89px);
  margin-top: 89px;
  margin-left: 232px;
  display: flex;
}

.fs-24 {
  font-size: 24px;
}

/* Contacts avatar bg-color */

.bg-darkblue {
  background-color: #2A3647;
}

.bg-lightgray {
  background-color: #F5F5F5;
}

.bg-antiquewhite {
  background-color: #f5f5f5;
}

.bg-orange {
  background-color: #FF7A00;
}

.bg-purple {
  background-color: #9327FF;
}

.bg-turquoise {
  background-color: #29ABE2;
}

.bg-pink {
  background-color: #FC71FF;
}

.bg-green {
  background-color: #02CF2F;
}

.bg-darkred {
  background-color: #AF1616;
}

.bg-darkpurple {
  background-color: #462F8A;
}

.fc-blue {
  color: #007CEE;
}


.font-size-21 {
  font-size: 21px;
}

.font-size-27 {
  font-size: 27px;
}

.font-size-48 {
  font-size: 48px;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.icon-size-42 {
  height: 42px;
  width: 42px;
  object-fit: cover;
}

.icon-size-32 {
  height: 32px;
  width: 32px;
  object-fit: fill;
}

.icon-size-49 {
  height: 49px;
  width: 49px;
  object-fit: cover;
}

.icon-size-120 {
  height: 120px;
  width: 120px;
  object-fit: contain;
}

.mt-100 {
  margin-top: 100px;
}

/* ######################## Desktop header [Frame 41] ######################### */
.desktop-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 36px 0px 348px;
  gap: 34px;
  position: absolute;
  height: 89px;
  left: 0px;
  top: 0px;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.desktop-header-right-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.portrait-blue-ring {
  background-color: #2A3647;
  border-radius: 50%;
  padding: 6px;
  outline: 2px solid white;
  outline-offset: -6px;
}

/* ##################### Desktop navbar left [Frame 3] ######################### */

.desktop-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 70px 35px;
  gap: 100px;
  position: absolute;
  width: 232px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.desktop-navbar a {
  text-decoration: none;
  color: white;
}

.desktop-navbar-top {
  display: flex;
  gap: 100px;
  flex-direction: column;
  width: 100%;
}

.desktop-navbar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.desktop-navbar-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder h3 {
  font-size: 5rem;
  color: #2A3647
}

/* 


/* #################### Paul ################### */

/* #################### Daniel ################### */

/* #################### Patrick ################### */
/* 
.main-content-J {
  position: relative;
  width: 1440px;
  height: 1024px;
  background-color: black;
}

.header-task-J {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 39px;
  gap: 34px;
  background-color: green;
  position: absolute;
  width: 1440px;
  height: 97.3px;
  left: 0px;
  top: 0px;
}

.nav-task-J {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 20px;
  gap: 235px;
  background-color: red;
  position: absolute;
  width: 232px;
  height: 932px;
  left: 0px;
  top: 92px;
}

.task-mask-J {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  background-color: orange;
  position: absolute;
  width: 561px;
  height: 1056px;
  left: 320px;
  top: 137px;
}

.task-button-J {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
  background-color: grey;
  width: 341px;
  height: 61px;

} */