/* #################### Globale CSS variables ################### */

.font-family {
  font-family: 'Roboto';
}

;

.fs-24 {
  font-size: 24px;
}

.bg-darkblue {
  background-color: darkblue;
}




/* #################### Sascha ################### */

.main-content-S {
  background-color: rebeccapurple;
}

/* #################### Paul ################### */

/* #################### Daniel ################### */

/* #################### Patrick ################### */