/* #################### Globale CSS variables ################### */

/* LEGAL Download der Schriftarten einbinden */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.fs-24 {
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

/* ########## HIntergrundfarben ############### */

.bg-darkblue {
  background-color: #2A3647;
}

.bg-lightgray {
  background-color: #F5F5F5;
}

.bg-white {
  background-color: hsl(0, 0%, 96%);
}

/* #################### Sascha ################### */

.body-S {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #F6F7F8;
  margin: 0;
}

.contacts-main-S {
  background-color: rebeccapurple;
  background-color: #F5F5F5;
  width: 100%;
  height: calc(100vh - 89px);
  margin-top: 89px;
  margin-left: 232px;
}

.navbar-destop-S {
  /* Frame 3 */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 20px;
  gap: 103px;
  position: absolute;
  width: 232px;
  height: 1024px;
  left: 0px;
  top: 0px;
  background: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.header-S {
  /* Frame 41 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 36px 0px 348px;
  gap: 34px;

  position: absolute;
  width: 100%;
  height: 89px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.contacts-list-wrapper-S {
  /* Frame 97 */
  position: absolute;
  width: 453px;
  height: 935px;
  left: 232px;
  top: 89px;
  background: #FFFFFF;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}



/* #################### Paul ################### */

/* #################### Daniel ################### */

/* #################### Patrick ################### */

.main-content-J {
  position: relative;
  width: 1440px;
  height: 1024px;
  background-color: black;
}

.header-task-J {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 39px;
  gap: 34px;
  background-color: green;
  position: absolute;
  width: 1440px;
  height: 97.3px;
  left: 0px;
  top: 0px;
}

.nav-task-J {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 20px;
  gap: 235px;
  background-color: red;
  position: absolute;
  width: 232px;
  height: 932px;
  left: 0px;
  top: 92px;
}

.task-mask-J {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  background-color: orange;
  position: absolute;
  width: 561px;
  height: 1056px;
  left: 320px;
  top: 137px;
}

.task-button-J {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 25px;
  background-color: grey;
  width: 341px;
  height: 61px;

}